<template>
    <custom-button class="conversation-go-to" @click="goToConversation"
        >send message</custom-button
    >
</template>

<script lang="ts">
import Vue from 'vue';
import CustomButton from '../CustomButton.vue';
export default Vue.extend({
    components: {
        'custom-button': CustomButton
    },
    props: {
        userId: Number
    },
    methods: {
        goToConversation(): void {
            this.$router.push(
                `/home/conversations/conversation/with/${this.userId}`
            );
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.conversation-go-to {
    text-decoration: none;
    color: $primary-dark-color;
}
.conversation-go-to:hover {
    text-decoration: underline;
}
</style>
