<template>
    <div class="game-requester">
        <custom-button @click="requestGame">request game</custom-button>
        <div
            ref="requested"
            class="game-requester__requested"
            v-if="wasRequestMade"
        >
            Requested!
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CustomButton from '../CustomButton.vue';
import { requestGameDirect } from '../../data/game-history';
export default Vue.extend({
    components: {
        'custom-button': CustomButton
    },
    props: {
        userId: Number
    },
    data() {
        return {
            wasRequestMade: false
        };
    },
    methods: {
        requestGame() {
            requestGameDirect(this.userId)
                .then(() => {
                    this.wasRequestMade = true;
                    setTimeout(this.addTranslucentClass.bind(this), 10);
                    setTimeout(this.turnOffWasRequestMade, 3000);
                })
                .catch(console.error);
        },
        addTranslucentClass() {
            const requested = this.$refs.requested as HTMLElement;
            if (requested !== undefined) {
                requested.classList.add(
                    'game-requester__requested_translucent'
                );
            }
        },
        turnOffWasRequestMade() {
            this.wasRequestMade = false;
        }
    }
});
</script>

<style lang="scss" scoped>
@import '../common.scss';
.game-requester {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.game-requester__requested {
    margin-left: 1em;
    opacity: 1;
    transition: opacity 3s linear;
}
.game-requester__requested_translucent {
    opacity: 0;
}
</style>
