<template>
    <div class="profile">
        <div class="profile-details">
            <div class="profile-details__handle">{{ currentUser.handle }}</div>
            <div>rating: {{ currentUser.rating }}</div>
            <div class="profile-details__name">
                {{ currentUser.firstName }} {{ currentUser.lastName }}
            </div>
            <div class="profile-details__join">joined: {{ joinDate }}</div>
            <custom-button @click="logout">Log Out</custom-button>
        </div>
        <div class="profile-stats">
            <div class="profile-stats__header">Stats</div>
            <wld
                :winCount="winCount"
                :lossCount="lossCount"
                :drawCount="drawCount"
                :descriptor="`${currentUser.handle} v. world`"
            ></wld>
            <wld
                :winCount="whiteSideStats.winCount"
                :lossCount="whiteSideStats.lossCount"
                :drawCount="whiteSideStats.drawCount"
                :descriptor="`${currentUser.handle} (white side) v. world`"
            ></wld>
            <wld
                :winCount="blackSideStats.winCount"
                :lossCount="blackSideStats.lossCount"
                :drawCount="blackSideStats.drawCount"
                :descriptor="`${currentUser.handle} (black side) v. world`"
            ></wld>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CustomButton from '../CustomButton.vue';
import WinLossDraw from './WinLossDraw.vue';
import { dateTimeString } from '../../utils';
import { getUserStatistics } from '../../data/game-history';
import {
    createStatsContainerDtoPlaceholder,
    StatsDto
} from '../../types/game-history-types';
import { UserDto, createUserDtoPlaceholder } from '../../types/user-types';
import styleVariables from '../common.scss';
import { logout } from '../../data/user';
export default Vue.extend({
    components: {
        'custom-button': CustomButton,
        wld: WinLossDraw
    },
    data() {
        return {
            stats: createStatsContainerDtoPlaceholder()
        };
    },
    mounted() {
        getUserStatistics(this.currentUser.id)
            .then(stats => {
                this.stats = stats;
            })
            .catch(console.error);
    },
    methods: {
        async logout() {
            await logout();
            this.$store.commit('forgetToken');
            this.$router.push('/login');
        }
    },
    computed: {
        currentUser(): UserDto {
            const currentUser = this.$store.state.currentUser;
            if (currentUser === undefined) {
                return createUserDtoPlaceholder();
            } else {
                return currentUser;
            }
        },
        joinDate(): string {
            return dateTimeString(this.currentUser.joinEpochSeconds);
        },
        whiteSideStats(): StatsDto {
            return this.stats.whiteSideStats;
        },
        blackSideStats(): StatsDto {
            return this.stats.blackSideStats;
        },
        winCount(): number {
            return this.whiteSideStats.winCount + this.blackSideStats.winCount;
        },
        lossCount(): number {
            return (
                this.whiteSideStats.lossCount + this.blackSideStats.lossCount
            );
        },
        drawCount(): number {
            return (
                this.whiteSideStats.drawCount + this.blackSideStats.drawCount
            );
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.profile {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.profile-details,
.profile-stats {
    flex: 1;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.profile-details > * {
    font-size: large;
    margin-bottom: 1em;
}
.profile-details__handle,
.profile-stats__header {
    font-size: x-large;
    padding: 0.5em;
    @include curved;
    @include primary-dark-border(bottom);
    @include primary-dark-border(right);
}
.profile-details__name,
.profile-details__join {
    text-align: center;
    white-space: nowrap;
}
.profile-stats > * {
    margin-bottom: 1em;
}
</style>
