<template>
    <div>
        <div class="user-games__navigator">
            <router-link to="inprogress">In Progress</router-link>
            <router-link to="completed">Completed</router-link>
        </div>
        <router-view class="user-games__displayer"></router-view>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({});
</script>

<style lang="scss" scoped>
@import '../common.scss';
.user-games__navigator {
    height: 6em;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @include primary-dark-border;
    background-color: $primary-light-bg-color;
}
.user-games__navigator > :first-child {
    margin-left: 1em;
}
.user-games__navigator > * {
    padding: 0.5em;
    margin-right: 1em;
    @include curved;
    @include primary-dark-border(bottom);
    @include primary-dark-border(right);
    color: $primary-dark-color;
    background-color: $primary-light-color;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}
.user-games__navigator > *:hover,
.router-link-active {
    text-decoration: underline;
    color: $primary-light-color;
    background-color: $primary-dark-color;
}
.user-games__displayer {
    padding: 1em 0;
}
</style>
