<template>
    <router-link class="user-link" :to="userPath"
        >{{ user.handle }} ({{ user.rating }})</router-link
    >
</template>

<script lang="ts">
import Vue from 'vue';
import { getUserById } from '../../data/user';
import { createUserDtoPlaceholder, UserDto } from '../../types/user-types';
export default Vue.extend({
    props: {
        userInit: Object as () => UserDto,
        userId: Number
    },
    data() {
        return {
            user: createUserDtoPlaceholder()
        };
    },
    mounted() {
        if (this.userInit !== undefined) {
            this.user = this.userInit;
        } else if (this.userId !== undefined) {
            this.getUser();
        }
    },
    computed: {
        userPath(): string {
            return this.user === undefined ? '' : `/home/user/${this.user.id}`;
        }
    },
    methods: {
        getUser() {
            if (this.userId === undefined) {
                return;
            }
            if (this.userId === this.$store.getters.currentUserId) {
                this.user = this.$store.state.currentUser as UserDto;
            }
            getUserById(this.userId)
                .then(userDto => {
                    this.user = userDto;
                })
                .catch(console.error);
        }
    },
    watch: {
        user() {
            if (this.userInit !== undefined) {
                this.user = this.userInit;
            }
        },
        userId() {
            if (this.userId !== undefined) {
                this.getUser();
            }
        }
    }
});
</script>

<style lang="scss" scoped>
@import '../common.scss';
.user-link {
    color: $primary-dark-color;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}
.user-link:hover {
    text-decoration: underline;
}
</style>
