<template>
    <div class="user">
        <div class="user-detail">
            <div class="user-detail__handle">{{ user.handle }}</div>
            <div class="user-detail__name">
                {{ user.firstName }} {{ user.lastName }}
            </div>
            <div>rating: {{ user.rating }}</div>
            <div class="user-detail__join">joined: {{ joinDate }}</div>
            <conversation-go-to :userId="userId"></conversation-go-to>
            <game-requester :userId="userId"></game-requester>
        </div>
        <div class="user-stats">
            <div class="user-stats__header">Stats</div>
            <wld
                :winCount="winCount"
                :lossCount="lossCount"
                :drawCount="drawCount"
                :descriptor="`${user.handle} v. world`"
            ></wld>
            <wld
                :winCount="versusWinCount"
                :lossCount="versusLossCount"
                :drawCount="versusDrawCount"
                :descriptor="`${currentUser.handle} v. ${user.handle}`"
            ></wld>
        </div>
        <user-games class="user-games" :userId="userId"></user-games>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import GameRequester from './GameRequester.vue';
import ConversationGoTo from './ConversationGoTo.vue';
import WinLossDraw from './WinLossDraw.vue';
import UserGames from './UserGames.vue';
import { UserDto, createUserDtoPlaceholder } from '../../types/user-types';
import { dateTimeString } from '../../utils';
import { getUserById } from '../../data/user';
import {
    getUserStatistics,
    getVersusStatistics
} from '../../data/game-history';
import {
    createStatsContainerDtoPlaceholder,
    StatsDto
} from '../../types/game-history-types';
export default Vue.extend({
    components: {
        'game-requester': GameRequester,
        'conversation-go-to': ConversationGoTo,
        wld: WinLossDraw,
        'user-games': UserGames
    },
    props: {
        userId: Number
    },
    data() {
        return {
            user: createUserDtoPlaceholder(),
            userStats: createStatsContainerDtoPlaceholder(),
            versusStats: createStatsContainerDtoPlaceholder()
        };
    },
    mounted() {
        getUserById(this.userId)
            .then(user => {
                this.user = user;
            })
            .catch(console.error);
        getUserStatistics(this.userId)
            .then(userStats => {
                this.userStats = userStats;
            })
            .catch(console.error);
        getVersusStatistics(this.userId)
            .then(versusStats => {
                this.versusStats = versusStats;
            })
            .catch(console.error);
    },
    computed: {
        joinDate(): string {
            return dateTimeString(this.user.joinEpochSeconds);
        },
        currentUser(): UserDto | undefined {
            return this.$store.state.currentUser;
        },
        whiteSideStats(): StatsDto {
            return this.userStats.whiteSideStats;
        },
        blackSideStats(): StatsDto {
            return this.userStats.blackSideStats;
        },
        winCount(): number {
            return this.whiteSideStats.winCount + this.blackSideStats.winCount;
        },
        lossCount(): number {
            return (
                this.whiteSideStats.lossCount + this.blackSideStats.lossCount
            );
        },
        drawCount(): number {
            return (
                this.whiteSideStats.drawCount + this.blackSideStats.drawCount
            );
        },
        versusWhiteSideStats(): StatsDto {
            return this.versusStats.whiteSideStats;
        },
        versusBlackSideStats(): StatsDto {
            return this.versusStats.blackSideStats;
        },
        versusWinCount(): number {
            return (
                this.versusWhiteSideStats.winCount +
                this.versusBlackSideStats.winCount
            );
        },
        versusLossCount(): number {
            return (
                this.versusWhiteSideStats.lossCount +
                this.versusBlackSideStats.lossCount
            );
        },
        versusDrawCount(): number {
            return (
                this.versusWhiteSideStats.drawCount +
                this.versusBlackSideStats.drawCount
            );
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.user {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.user > * {
    flex: 1;
    padding: 1em;
}
.user-detail,
.user-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user-detail > * {
    font-size: large;
    margin-bottom: 1em;
}
.user-detail__handle {
    font-size: x-large;
    padding: 0.5em;
    @include curved;
    @include primary-dark-border(bottom);
    @include primary-dark-border(right);
}
.user-stats > * {
    margin-bottom: 1em;
}
.user-stats__header {
    font-size: x-large;
    padding: 0.5em;
    @include curved;
    @include primary-dark-border(bottom);
    @include primary-dark-border(right);
}
.user-detail__name,
.user-detail__join {
    text-align: center;
    white-space: nowrap;
}
.user-games {
    flex: 2;
}
</style>
