<template>
    <div class="win-loss-draw">
        <div class="win-loss-draw__detail">
            <div>{{ descriptor }}:</div>
            <div class="win-loss-draw__detail_win">Win {{ winCount }}</div>
            <div class="win-loss-draw__detail_loss">Lose {{ lossCount }}</div>
            <div class="win-loss-draw__detail_draw">Draw {{ drawCount }}</div>
        </div>
        <wld-pie
            class="win-loss-draw__pie"
            :winCount="winCount"
            :lossCount="lossCount"
            :drawCount="drawCount"
        ></wld-pie>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import WinLossDrawPie from '../chart/WinLossDrawPie.vue';
export default Vue.extend({
    components: {
        'wld-pie': WinLossDrawPie
    },
    props: {
        winCount: Number,
        lossCount: Number,
        drawCount: Number,
        descriptor: String
    }
});
</script>

<style lang="scss" scoped>
@import '../common.scss';
.win-loss-draw {
    width: 26em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background-color: $primary-light-bg-color;
    @include curved;
    @include primary-dark-border(bottom);
    @include primary-dark-border(right);
}
.win-loss-draw__detail {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    font-size: large;
}
.win-loss-draw__detail_win {
    color: $win-slice-color;
}
.win-loss-draw__detail_loss {
    color: $loss-slice-color;
}
.win-loss-draw__detail_draw {
    color: $draw-slice-color;
}
.win-loss-draw__pie {
    width: 10em;
    height: 10em;
}
</style>
