<template>
    <span class="piece-icon">{{ icon }}</span>
</template>

<script lang="ts">
import Vue from 'vue';
import { pieceIconSymbolFor } from '../../symbols';
export default Vue.extend({
    data() {
        return {
            icon: pieceIconSymbolFor('K')
        };
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.piece-icon {
    color: $dark-piece-color;
    font-size: xx-large;
}
</style>
