$primary-dark-color: midnightblue;
$primary-light-color: white;

$primary-light-bg-color: lightgray;

$win-slice-color: seagreen;
$loss-slice-color: maroon;
$draw-slice-color: goldenrod;
$empty-pie-color: black;

$board-min-dimension: 15em;
$board-border-color: black;
$dark-tile-color: dimgray;
$light-tile-color: cornflowerblue;
$dark-piece-color: black;
$light-piece-color: white;

:export {
  primaryDarkColor: $primary-dark-color;
  primaryLightColor: $primary-light-color;
  winSliceColor: $win-slice-color;
  lossSliceColor: $loss-slice-color;
  drawSliceColor: $draw-slice-color;
  emptyPieColor: $empty-pie-color;
}

@mixin primary-dark-border($side: all) {
  @if $side == all {
    border: solid medium $primary-dark-color;
  } @else {
    border-#{$side}: solid medium $primary-dark-color;
  }
}

@mixin primary-light-border($side: all) {
  @if $side == all {
    border: solid medium $primary-light-color;
  } @else {
    border-#{$side}: solid medium $primary-light-color;
  }
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin curved {
  border-radius: 0.5em;
}

@mixin row {
  width: 100%;
  height: 8em;
  padding: 0.5em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $primary-light-bg-color;
  @include curved;
  @include primary-dark-border(bottom);
  @include primary-dark-border(right);
  & > * {
    flex: 1;
    @include centered;
    font-size: large;
    padding-right: 1em;
  }
  & > :first-child {
    padding-left: 1em;
  }
}

@mixin button {
  padding: 0.5em;
  background-color: $primary-light-color;
  color: $primary-dark-color;
}

@mixin button-hover {
  background-color: $primary-dark-color;
  color: $primary-light-color;
}

@mixin input {
  padding: 0.5em;
  outline: none;
  border: none;
  box-shadow: inset 0 0 0 0.1em;
  @include curved;
  &:focus {
    box-shadow: 0 0 0.3em 0.1em $primary-dark-color, inset 0 0 0.3em 0.1em $primary-dark-color;
    outline: none;
  }
}
