<template>
    <div class="custom-button__container">
        <button
            :class="['custom-button', grow ? 'custom-button_grow' : '']"
            @click="onClick"
        >
            <slot></slot>
        </button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    props: {
        grow: Boolean
    },
    methods: {
        onClick(event: MouseEvent): void {
            this.$emit('click', event);
        }
    }
});
</script>

<style lang="scss" scoped>
@import './common.scss';
.custom-button__container {
    @include centered;
}
.custom-button {
    padding: 0.5em;
    font-size: large;
    background-color: $primary-dark-color;
    color: $primary-light-color;
    @include curved;
    outline: none;
}
.custom-button:hover {
    background-color: $primary-light-color;
    color: $primary-dark-color;
}
.custom-button_grow {
    flex: 1;
}
</style>
