<template>
    <div class="root-container">
        <header class="header" ref="header">
            <div class="header__title">
                {{
                    `${king}${queen}${bishop} Chess Application ${knight}${rook}${pawn}`
                }}
            </div>
            <nav class="navigator">
                <router-link class="navigator__link" to="/home/games"
                    >Games</router-link
                >
                <router-link class="navigator__link" to="/home/users"
                    >Users</router-link
                >
                <router-link class="navigator__link" to="/home/conversations"
                    >Conversations</router-link
                >
                <router-link class="navigator__link" to="/home/profile"
                    >Profile</router-link
                >
            </nav>
        </header>
        <main ref="content" class="main-content">
            <router-view></router-view>
        </main>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import { pieceIconSymbolFor } from '../symbols';
export default Vue.extend({
    data() {
        return {
            pawn: pieceIconSymbolFor('P'),
            rook: pieceIconSymbolFor('R'),
            knight: pieceIconSymbolFor('N'),
            bishop: pieceIconSymbolFor('B'),
            queen: pieceIconSymbolFor('Q'),
            king: pieceIconSymbolFor('K')
        };
    }
});
</script>

<style scoped lang="scss">
@import './common.scss';
.root-container {
    min-width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: inline-flex;
    flex-direction: column;
}
.header {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    background-color: $primary-dark-color;
}
.header__title {
    margin-left: 1em;
    margin-right: auto;
    padding: 1em;
    font-size: large;
}
.navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.navigator__link {
    padding: 1em 1.5em;
    margin-right: 1em;
    text-decoration: none;
    @include curved;
}
.navigator__link,
.header__title {
    color: $primary-light-color;
    text-align: center;
    white-space: nowrap;
}
.navigator__link:hover,
.router-link-active {
    background-color: $primary-light-color;
    color: $primary-dark-color;
}
.main-content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
</style>
