<template>
    <main class="login__container">
        <div class="login">
            <div class="login__header">Chess Application Log In</div>
            <label class="login__handle">
                handle:
                <input
                    class="login__handle-input"
                    type="text"
                    v-model="handle"
                    @keyup.enter="login"
                />
            </label>
            <div class="login__error-message">
                {{ belowHandleErrorMessage }}
            </div>
            <label class="login__password">
                password:
                <input
                    class="login__password-input"
                    type="password"
                    v-model="password"
                    @keyup.enter="login"
                />
            </label>
            <div class="login__error-message">
                {{ belowPasswordErrorMessage }}
            </div>
            <custom-button :grow="true" class="login__button" @click="login"
                >Log In</custom-button
            >
        </div>
    </main>
</template>

<script lang="ts">
import Vue from 'vue';
import CustomButton from './CustomButton.vue';
import { login } from '../data/user';
export default Vue.extend({
    components: {
        'custom-button': CustomButton
    },
    data() {
        return {
            handle: '',
            password: '',
            belowHandleErrorMessage: '',
            belowPasswordErrorMessage: ''
        };
    },
    methods: {
        async login() {
            this.belowHandleErrorMessage = '';
            this.belowPasswordErrorMessage = '';
            if (this.handle.length === 0) {
                this.belowHandleErrorMessage = 'handle is required';
            } else if (this.password.length === 0) {
                this.belowPasswordErrorMessage = 'password is required';
            } else {
                if (await login(this.handle, this.password)) {
                    await this.$store.dispatch('getToken');
                    if (this.$store.getters.hasToken) {
                        await this.$store.dispatch('getCurrentUser');
                        this.$router.push('/home');
                    } else {
                        this.belowPasswordErrorMessage = 'invalid credentials';
                    }
                } else {
                    this.belowPasswordErrorMessage = 'invalid credentials';
                }
            }
        }
    }
});
</script>

<style lang="scss" scoped>
@import './common.scss';
.login__container {
    width: 100%;
    margin-top: 5em;
    @include centered;
}
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
    background-color: $primary-light-bg-color;
    @include curved;
    @include primary-dark-border(bottom);
    @include primary-dark-border(right);
}
.login__header {
    font-size: large;
    margin-bottom: 1em;
    padding: 0.5em;
    @include curved;
    @include primary-dark-border(top);
    @include primary-dark-border(left);
}
.login__handle,
.login__password {
    align-self: flex-end;
}
.login__handle-input,
.login__password-input {
    width: 15em;
    @include input;
}
.login__error-message {
    height: 1em;
    color: red;
}
.login__button {
    width: 100%;
}
</style>
