<template>
    <div class="user-search">
        <label>
            {{ searchPrompt }}
            <input
                class="user-search__input"
                type="text"
                v-model="searchString"
                @keyup.enter="search"
            />
        </label>
        <custom-button @click="search">Search</custom-button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CustomButton from '../CustomButton.vue';
export default Vue.extend({
    components: {
        'custom-button': CustomButton
    },
    props: {
        searchPrompt: String
    },
    data() {
        return {
            searchString: ''
        };
    },
    methods: {
        search() {
            if (this.searchString.trim().length === 0) {
                return;
            } else {
                this.$router.push(
                    `/home/users?searchString=${this.searchString}`
                );
            }
        }
    }
});
</script>

<style lang="scss" scoped>
@import '../common.scss';
.user-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.user-search__input {
    width: 15em;
    margin-right: 1em;
    @include input;
}
</style>
