<template>
    <li class="user-summary">
        <user-link :userInit="user"></user-link>
        <div>{{ user.firstName }} {{ user.lastName }}</div>
        <conversation-go-to :userId="user.id"></conversation-go-to>
        <game-requester :userId="user.id"></game-requester>
    </li>
</template>

<script lang="ts">
import Vue from 'vue';
import UserLink from '../user/UserLink.vue';
import ConversationGoTo from '../user/ConversationGoTo.vue';
import GameRequester from '../user/GameRequester.vue';
import { createUserDtoPlaceholder, UserDto } from '../../types/user-types';
export default Vue.extend({
    components: {
        'conversation-go-to': ConversationGoTo,
        'user-link': UserLink,
        'game-requester': GameRequester
    },
    props: {
        userInit: Object as () => UserDto
    },
    data() {
        return {
            user: createUserDtoPlaceholder()
        };
    },
    mounted() {
        this.user = this.userInit;
    },
    methods: {
        toUser() {
            if (this.user !== undefined) {
                this.$router.push(`/home/user/${this.user.id}`);
            }
        }
    }
});
</script>

<style lang="scss" scoped>
@import '../common.scss';
.user-summary {
    @include row;
}
</style>
