<template>
    <div class="users">
        <user-search class="users-search" searchPrompt></user-search>
        <ol class="users__list">
            <user-summary
                v-for="user in users"
                :key="user.id"
                :userInit="user"
            ></user-summary>
            <div class="users__end">{{ noMoreMessage }}</div>
        </ol>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import UserSearch from './UserSearch.vue';
import UserSummary from './UserSummary.vue';
import { UserDto } from '../../types/user-types';
import { searchUser } from '../../data/user';
export default Vue.extend({
    components: {
        'user-search': UserSearch,
        'user-summary': UserSummary
    },
    data() {
        return {
            users: [] as UserDto[]
        };
    },
    created() {
        if (this.$route.query.searchString !== undefined) {
            this.search();
        } else {
            this.users.splice(0);
        }
    },
    watch: {
        '$route.query.searchString'() {
            const searchString = this.$route.query.searchString;
            if (searchString !== undefined) {
                this.search();
            } else {
                this.users.splice(0);
            }
        }
    },
    computed: {
        noMoreMessage(): string {
            return this.users.length > 0
                ? 'No more users to show'
                : 'No user to show';
        }
    },
    methods: {
        search() {
            searchUser(this.$route.query.searchString as string)
                .then(users => {
                    this.users = users.filter(userDto => {
                        return userDto.id !== this.$store.getters.currentUserId;
                    });
                })
                .catch(console.error);
        }
    }
});
</script>

<style lang="scss" scoped>
@import '../common.scss';
.users {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.users-search {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    @include centered;
}
.users__list {
    padding: 0 1em;
    margin: 0;
    list-style-type: none;
    overflow-y: auto;
}
.users__end {
    width: 100%;
    margin-bottom: 1em;
    @include centered;
}
</style>
