<template>
    <div class="conversation">
        <div class="conversation__conversers">
            <router-link
                class="conversation__converser conversation__converser_other"
                :to="`/home/user/${otherConverser.id}`"
                >{{ otherConverser.handle }}</router-link
            >
            <router-link
                class="conversation__converser conversation__converser_me"
                :to="`/home/user/${currentUser.id}`"
                >{{ currentUser.handle }}</router-link
            >
        </div>
        <ol ref="messages" class="conversation__messages">
            <message
                v-for="message in messages"
                :key="`${message.index}-message`"
                :message="message"
            ></message>
        </ol>
        <div class="conversation__send">
            <textarea
                class="conversation__send-input"
                v-model="messageText"
                @keyup.enter="send"
                spellcheck="false"
                rows="5"
            ></textarea>
            <custom-button @click="send" :grow="true">{{
                `Send ${SEND_SYMBOL}`
            }}</custom-button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import MessageComponent from './Message.vue';
import CustomButton from '../CustomButton.vue';
import Conversation, {
    createConversationPlaceholder,
    Message
} from './model/Conversation';
import { UserDto } from '../../types/user-types';
import EventEmissionConnector from '../../EventEmissionConnector';
import { SEND_SYMBOL } from '../../symbols';
export default Vue.extend({
    components: {
        message: MessageComponent,
        'custom-button': CustomButton
    },
    props: {
        conversation: Object as () => Conversation,
        eventEmissionConnector: Object as () => EventEmissionConnector
    },
    data() {
        return {
            conversation$: this.conversation,
            messageText: '',
            SEND_SYMBOL
        };
    },
    mounted() {
        if (this.eventEmissionConnector !== undefined) {
            this.eventEmissionConnector.addTarget(this);
        }
        this.scrollToBottom();
    },
    destroyed() {
        this.conversation.close();
    },
    computed: {
        messages(): Message[] {
            return this.conversation.messages;
        },
        currentUser(): UserDto | undefined {
            return this.$store.state.currentUser;
        },
        otherConverser(): UserDto {
            return this.conversation.otherConverser;
        }
    },
    methods: {
        send() {
            const text = this.messageText.replace(/\r?\n?$/, '');
            this.conversation.send(text);
            this.messageText = '';
        },
        scrollToBottom() {
            const messagesContainer = this.$refs['messages'] as HTMLElement;
            messagesContainer.scrollTop =
                messagesContainer.scrollHeight - messagesContainer.clientHeight;
        }
    },
    watch: {
        conversation(updatedConversation, oldConversation) {
            oldConversation.close();
            this.conversation$ = updatedConversation;
        },
        eventEmissionConnector() {
            if (this.eventEmissionConnector !== undefined) {
                this.eventEmissionConnector.addTarget(this);
            }
        },
        'conversation$.messages.length'(updated, old) {
            this.$nextTick(this.scrollToBottom);
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.conversation {
    min-width: 20ex;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: visible;
    @include curved;
    padding: 0 0.3em;
    margin: 0 -0.3em;
}
.conversation__conversers {
    display: flex;
    flex-direction: row;
    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
}
.conversation__converser {
    flex: 1 1 50%;
    height: 100%;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.conversation__converser:hover {
    text-decoration: underline;
}
.conversation__converser_other {
    background: $primary-dark-color;
    color: $primary-light-color;
    @include primary-dark-border(top);
    @include primary-dark-border(bottom);
    @include primary-dark-border(left);
    border-top-left-radius: inherit;
}
.conversation__converser_me {
    background: $primary-light-color;
    color: $primary-dark-color;
    @include primary-dark-border(top);
    @include primary-dark-border(bottom);
    @include primary-dark-border(right);
    border-top-right-radius: inherit;
}
.conversation__messages {
    flex-grow: 1;
    padding: 0.5em;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: $primary-light-bg-color;
}
.conversation__send-input {
    resize: none;
    @include input;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: visible;
}
.conversation__send {
    display: flex;
    flex-direction: column;
}
.conversation__messages > :first-child {
    margin-top: auto;
}
</style>
