<template>
    <li class="conversation-summary">
        <router-link
            class="conversation-summary__link"
            :to="`/home/conversations/conversation/${this.conversation$.id}`"
            >Go to conversation</router-link
        >
        <user-link :userId="converserId"></user-link>
        <div>{{ lastMessageDateTime }}</div>
        <last-message-detail
            :conversation="conversation$"
        ></last-message-detail>
    </li>
</template>

<script lang="ts">
import Vue from 'vue';
import UserLink from '../user/UserLink.vue';
import LastMessageDetail from './LastMessageDetail.vue';
import { getUserById } from '../../data/user';
import { dateTimeString } from '../../utils';
import { UserDto } from '../../types/user-types';
import Conversation, { Message } from './model/Conversation';
import { ConversationDto, MessageDto } from '../../types/messaging-types';
export default Vue.extend({
    components: {
        'user-link': UserLink,
        'last-message-detail': LastMessageDetail
    },
    props: {
        conversation: Object as () => ConversationDto
    },
    data() {
        return {
            conversation$: this.conversation,
            converserId: this.conversation.converserIds.find(id => {
                return id !== this.$store.getters.currentUserId;
            })
        };
    },
    computed: {
        currentUser(): UserDto | undefined {
            return this.$store.state.currentUser;
        },
        lastMessageDateTime(): string {
            if (this.conversation$.messages.length === 0) {
                return '';
            } else {
                const lastMessage = this.conversation$.messages[
                    this.conversation$.messages.length - 1
                ];
                return dateTimeString(lastMessage.epochSeconds);
            }
        }
    }
});
</script>

<style lang="scss" scoped>
@import '../common.scss';
.conversation-summary {
    @include row;
}
.conversation-summary__link {
    text-decoration: none;
    color: $primary-dark-color;
}
.conversation-summary__link:hover {
    text-decoration: underline;
}
</style>
