<template>
    <div class="conversations">
        <div class="conversation-summaries">
            <user-search
                class="user-search"
                searchPrompt="Find user to message"
            ></user-search>
            <ol class="conversation-summaries__list">
                <conversation-summary
                    class="conversation-summary"
                    v-for="conversation in conversations"
                    :key="conversation.id"
                    :conversation="conversation"
                ></conversation-summary>
                <div class="conversation-summaries__end">
                    {{ noMoreMessage }}
                </div>
            </ol>
        </div>
        <router-view
            class="conversation"
            @conversation-created="onConversationCreated"
            @message="onMessage"
        ></router-view>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import UserSearch from '../users/UserSearch.vue';
import ConversationSummary from './ConversationSummary.vue';
import { getConversations } from '../../data/messaging';
import { ConversationDto, MessageDto } from '../../types/messaging-types';
export default Vue.extend({
    components: {
        'user-search': UserSearch,
        'conversation-summary': ConversationSummary
    },
    data() {
        return {
            conversations: [] as ConversationDto[]
        };
    },
    mounted() {
        getConversations()
            .then(conversations => {
                this.conversations = conversations;
            })
            .catch(console.error);
    },
    computed: {
        noMoreMessage(): string {
            return this.conversations.length > 0
                ? 'No more conversations to show'
                : 'No conversation to show';
        }
    },
    methods: {
        onConversationCreated(conversation: ConversationDto) {
            this.conversations.splice(0, 0, conversation);
        },
        onMessage(conversationId: number, message: MessageDto) {
            const conversation = this.conversations.find(
                conversation => conversation.id === conversationId
            );
            if (conversation !== undefined) {
                conversation.messages.push(message);
            }
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.conversations {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.conversation-summaries {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.user-search {
    margin: 1em;
    width: 98%;
    width: calc(100% - 2em);
}
.conversation-summaries__list {
    width: 99%;
    width: calc(100% - 1em);
    padding: 0;
    margin: 0;
    margin-left: 1em;
    padding-right: 1em;
    list-style-type: none;
    overflow-y: auto;
}
.conversation-summaries__end {
    width: 100%;
    margin-bottom: 1em;
    @include centered;
}
.conversation {
    flex: 1;
    height: 98%;
    height: calc(100% - 2em);
    margin: 1em;
}
</style>
