<template>
    <div>{{ senderPrefix }}{{ lastMessageText }}</div>
</template>

<script lang="ts">
import Vue from 'vue';
import { MessageDto, ConversationDto } from '../../types/messaging-types';
import { UserDto } from '../../types/user-types';
import { getUserById } from '../../data/user';
export default Vue.extend({
    props: {
        conversation: Object as () => ConversationDto
    },
    data() {
        return {
            sender: undefined as UserDto | undefined
        };
    },
    mounted() {
        if (this.lastMessage !== undefined) {
            if (this.lastMessage.userId === this.$store.getters.currentUserId) {
                this.sender = this.$store.state.currentUser;
            } else {
                getUserById(this.lastMessage.userId)
                    .then(sender => {
                        this.sender = sender;
                    })
                    .catch(console.error);
            }
        }
    },
    computed: {
        senderPrefix(): string {
            return this.sender === undefined ? '' : `${this.sender.handle}: `;
        },
        lastMessage(): MessageDto | undefined {
            return this.conversation.messages.length === 0
                ? undefined
                : this.conversation.messages[
                      this.conversation.messages.length - 1
                  ];
        },
        lastMessageText(): string {
            if (this.lastMessage !== undefined) {
                return this.lastMessage.text.length > 20
                    ? `${this.lastMessage.text.substring(0, 40).trim()}...`
                    : this.lastMessage.text;
            } else {
                return '';
            }
        }
    }
});
</script>
