<template>
    <li
        :class="[
            'message',
            isCurrentUserMessage ? 'message_me' : 'message_other'
        ]"
    >
        <p
            v-if="isHoverOverText"
            :class="[
                'message__datetime',
                isCurrentUserMessage
                    ? 'message__datetime_me'
                    : 'message__datetime_other'
            ]"
        >
            {{ messageSentDateTime }}
        </p>
        <p
            :class="[
                'message__text',
                isCurrentUserMessage
                    ? 'message__text_me'
                    : 'message__text_other',
                message.isNewMessage ? 'message__text_new' : ''
            ]"
            @mouseenter="onMouseEnter"
            @mouseleave="onMouseExit"
        >
            {{ message.text | hyphenate }}
        </p>
    </li>
</template>

<script lang="ts">
import Vue from 'vue';
import { Message } from './model/Conversation';
import { UserDto } from '../../types/user-types';
import { dateTimeString } from '../../utils';
export default Vue.extend({
    props: {
        message: Object as () => Message
    },
    data() {
        return {
            isHoverOverText: false
        };
    },
    mounted() {
        this.$nextTick(() => (this.message.isNewMessage = false));
    },
    computed: {
        currentUser(): UserDto | undefined {
            return this.$store.state.currentUser;
        },
        isCurrentUserMessage(): boolean {
            if (this.currentUser === undefined) {
                return false;
            } else {
                return this.currentUser.id === this.message.userId;
            }
        },
        messageSentDateTime(): string {
            return dateTimeString(this.message.epochSeconds);
        }
    },
    methods: {
        onMouseEnter(): void {
            this.isHoverOverText = true;
        },
        onMouseExit(): void {
            this.isHoverOverText = false;
        }
    }
});
</script>

<style lang="scss" scoped>
@import '../common.scss';
.message {
    width: 100%;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.message_me {
    align-items: flex-end;
}
.message_other {
    align-items: flex-start;
}
.message__text {
    @include curved;
    padding: 0.5em;
    margin: 0;
    max-width: 55%;
    transition: box-shadow 4s linear;
    box-shadow: 0 0 0 0 $primary-dark-color;
}
.message__text_me {
    background: $primary-light-color;
    color: $primary-dark-color;
}
.message__text_other {
    background: $primary-dark-color;
    color: $primary-light-color;
}
.message__text_new {
    box-shadow: 0 0 0.5em 0.5em $primary-dark-color;
}
.message__datetime {
    margin: 0;
    max-width: 55%;
}
.message__datetime_me {
    text-align: right;
}
.message__datetime_other {
    text-align: left;
}
</style>
