<template>
    <div class="game">
        <div class="game-details">
            <player-detail
                :userId="opponentId"
                :timer="opponentTimer"
                :reverse="true"
            ></player-detail>
            <div v-if="game.isTerminated" class="game-details__outcome">
                {{ game.outcome }}
            </div>
            <div class="game-outcomes">
                <div class="game-details__rating-adjustment">
                    win: {{ winOutcome }}
                </div>
                <div class="game-details__rating-adjustment">
                    draw: {{ drawOutcome }}
                </div>
                <div class="game-details__rating-adjustment">
                    lose: {{ lossOutcome }}
                </div>
            </div>
            <div class="game-details__piece-representation">
                <div style="align-self: center;">Piece Representation</div>
                <label>
                    Icons
                    <input
                        type="radio"
                        v-model="useLetterIcons"
                        :value="false"
                        checked
                    />
                </label>
                <label>
                    Letters
                    <input
                        type="radio"
                        v-model="useLetterIcons"
                        :value="true"
                    />
                </label>
            </div>
            <label>
                Coordinates
                <input
                    type="checkbox"
                    v-model="showCoordinates"
                    :true-value="true"
                    :false-value="false"
                />
            </label>
            <player-detail
                :userId="currentUser.id"
                :timer="myTimer"
                :reverse="false"
            ></player-detail>
        </div>
        <board
            class="game-board"
            :boardModelInit="game.focusedBoard"
            :isWhiteSideUser="isWhiteSideUser"
            :useLetterIcons="useLetterIcons"
            :showCoordinates="showCoordinates"
            :useMinimumDimension="true"
        ></board>
        <move-history
            class="game-moves"
            :moveHistory="game.moveHistory"
            @move-summary-select="onMoveSummarySelect"
        ></move-history>
        <conversation
            class="game-conversation"
            :conversation="conversation"
        ></conversation>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import PlayerDetail from './PlayerDetail.vue';
import Board from './Board.vue';
import MoveHistory from './MoveHistory.vue';
import Conversation from '../conversations/Conversation.vue';
import Game from './model/Game';
import Timer from './model/Timer';
import GameConversation from '../conversations/model/GameConversation';
import { getGameHistory } from '../../data/game-history';
import { getUserById } from '../../data/user';
import { prettifyRatingAdjustment } from '../../utils';
import { UserDto, createUserDtoPlaceholder } from '../../types/user-types';
export default Vue.extend({
    components: {
        'player-detail': PlayerDetail,
        board: Board,
        'move-history': MoveHistory,
        conversation: Conversation
    },
    props: {
        gameHistoryId: Number
    },
    data() {
        return {
            game: new Game(this.gameHistoryId),
            conversation: new GameConversation(this.gameHistoryId),
            whiteWinsRatingAdjustment: 0,
            whiteLosesRatingAdjustment: 0,
            whiteDrawsRatingAdjustment: 0,
            useLetterIcons: false,
            showCoordinates: false,
            opponentId: undefined as number | undefined
        };
    },
    mounted() {
        getGameHistory(this.gameHistoryId)
            .then(gameHistoryDto => {
                this.whiteWinsRatingAdjustment =
                    gameHistoryDto.whiteWinsRatingAdjustment;
                this.whiteLosesRatingAdjustment =
                    gameHistoryDto.whiteLosesRatingAdjustment;
                this.whiteDrawsRatingAdjustment =
                    gameHistoryDto.whiteDrawsRatingAdjustment;
                const opponentUserId =
                    this.$store.getters.currentUserId ===
                    gameHistoryDto.whiteSideUserId
                        ? gameHistoryDto.blackSideUserId
                        : gameHistoryDto.whiteSideUserId;
                getUserById(opponentUserId)
                    .then(opponent => {
                        this.opponentId = opponent.id;
                    })
                    .catch(console.error);
            })
            .catch(console.error);
    },
    computed: {
        currentUser(): UserDto | undefined {
            return this.$store.state.currentUser;
        },
        isWhiteSideUser(): boolean {
            return this.game.isWhiteSideUser;
        },
        myTimer(): Timer {
            return this.isWhiteSideUser
                ? this.game.whiteSideTimer
                : this.game.blackSideTimer;
        },
        opponentTimer(): Timer {
            return this.isWhiteSideUser
                ? this.game.blackSideTimer
                : this.game.whiteSideTimer;
        },
        winOutcome(): string {
            return this.isWhiteSideUser
                ? prettifyRatingAdjustment(this.whiteWinsRatingAdjustment)
                : prettifyRatingAdjustment(
                      -1 * this.whiteLosesRatingAdjustment
                  );
        },
        drawOutcome(): string {
            return this.isWhiteSideUser
                ? prettifyRatingAdjustment(this.whiteDrawsRatingAdjustment)
                : prettifyRatingAdjustment(
                      -1 * this.whiteDrawsRatingAdjustment
                  );
        },
        lossOutcome(): string {
            return this.isWhiteSideUser
                ? prettifyRatingAdjustment(this.whiteLosesRatingAdjustment)
                : prettifyRatingAdjustment(-1 * this.whiteWinsRatingAdjustment);
        }
    },
    methods: {
        onMoveSummarySelect(moveNumber: number): void {
            this.game.focusBoardAfterMove(moveNumber);
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.game {
    height: 98%;
    height: calc(100% - 2em);
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: visible;
}
.game > * {
    height: auto;
    min-height: 100%;
    margin-right: 1em;
    overflow-y: visible;
}
.game > :first-child {
    margin-left: 1em;
}
.game-details {
    flex: 3 1 15%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-light-bg-color;
    @include curved;
    @include primary-dark-border(top);
}
.game-details__outcome {
    text-align: center;
}
.game-details__rating-adjustment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game-details__rating-adjustment > * {
    margin-bottom: 0.5em;
}
.game-details__rating-adjustment > :last-child {
    margin-bottom: 0;
}
.game-details__piece-representation {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.game-board {
    flex: 3 1 45%;
}
.game-moves {
    flex: 3 1 15%;
}
.game-conversation {
    flex: 3 1 15%;
}
</style>
