<template>
    <li
        :class="[
            'move-summary',
            isWhiteSideMove
                ? 'move-summary_white-side'
                : 'move-summary_black-side'
        ]"
    >
        <div>{{ moveNumber }}.</div>
        <div>{{ movetext }}</div>
        <div>{{ duration }}</div>
    </li>
</template>

<script lang="ts">
import Vue from 'vue';
import MoveSummary from './model/MoveSummary';
import { isEven } from '../../utils';
export default Vue.extend({
    props: {
        model: Object as () => MoveSummary
    },
    computed: {
        moveNumber(): number {
            return this.model.moveNumber;
        },
        movetext(): string {
            return this.model.movetext;
        },
        duration(): string {
            return this.model.duration;
        },
        isWhiteSideMove(): boolean {
            return !isEven(this.moveNumber);
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.move-summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.move-summary_white-side {
    background-color: $light-piece-color;
    color: $dark-piece-color;
}
.move-summary_black-side {
    background-color: $dark-piece-color;
    color: $light-piece-color;
}
</style>
