<template>
    <div
        class="move-history"
        ref="move-history"
        tabindex="0"
        @keydown.left="preventDefault"
        @keydown.up="preventDefault"
        @keydown.right="preventDefault"
        @keydown.down="preventDefault"
        @keyup.left="goToPreviousMove"
        @keyup.up="goToPreviousMove"
        @keyup.right="goToNextMove"
        @keyup.down="goToNextMove"
    >
        <div class="move-history__title">Moves</div>
        <ol class="move-history__moves" ref="move-history__moves">
            <li
                :class="[
                    'move-history__initial',
                    moveNumberFocus === 0 ? 'move-history__moves_focus' : ''
                ]"
                @click="onMoveSummarySelect(0)"
            >
                Initial Board
            </li>
            <move-summary
                v-for="moveSummary in moveSummaries"
                :class="[
                    moveNumberFocus === moveSummary.moveNumber
                        ? 'move-history__moves_focus'
                        : ''
                ]"
                :key="`move-${moveSummary.moveNumber}`"
                :model="moveSummary"
                @click.native="onMoveSummarySelect(moveSummary.moveNumber)"
            ></move-summary>
        </ol>
        <div class="move-history__nav">
            <custom-button :grow="true" @click="goToPreviousMove">
                {{ PREVIOUS_ARROW }}
            </custom-button>
            <custom-button :grow="true" @click="goToNextMove">
                {{ NEXT_ARROW }}
            </custom-button>
        </div>
        <div class="move-history__game-status">{{ gameStatus }}</div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import MoveSummaryComponent from './MoveSummary.vue';
import CustomButton from '../CustomButton.vue';
import Game from './model/Game';
import MoveSummary from './model/MoveSummary';
import { isEven, isInScrollView, getFontSize } from '../../utils';
import MoveHistory from './model/MoveHistory';
import { PREVIOUS_ARROW, NEXT_ARROW } from '../../symbols';
export default Vue.extend({
    components: {
        'move-summary': MoveSummaryComponent,
        'custom-button': CustomButton
    },
    props: {
        moveHistory: Object as () => MoveHistory
    },
    data() {
        return {
            moveNumberFocus: this.moveHistory.moveSummaries.length,
            PREVIOUS_ARROW,
            NEXT_ARROW
        };
    },
    watch: {
        'moveHistory.moveSummaries.length'(updated) {
            this.$nextTick(this.focusAfterMoveNumber.bind(this, updated));
        }
    },
    computed: {
        moveSummaries(): MoveSummary[] {
            return this.moveHistory.moveSummaries;
        },
        moveCount(): number {
            return this.moveHistory.moveSummaries.length;
        },
        gameStatus(): string {
            if (this.moveNumberFocus === 0) {
                return 'white side turn';
            } else {
                const gameStatus = this.moveHistory.moveSummaries[
                    this.moveNumberFocus - 1
                ].gameStatus;
                if (gameStatus === 'in progress') {
                    return isEven(this.moveNumberFocus)
                        ? 'white side turn'
                        : 'black side turn';
                } else {
                    return gameStatus;
                }
            }
        }
    },
    methods: {
        focusAfterMoveNumber(moveNumber: number): void {
            const previousMoveNumber = this.moveNumberFocus;
            this.moveNumberFocus = moveNumber;
            this.$emit('move-summary-select', moveNumber);
            const moves = this.$refs['move-history__moves'] as HTMLElement;
            const focusedMove = moves.children[moveNumber] as HTMLElement;
            if (!isInScrollView(focusedMove, moves)) {
                if (previousMoveNumber < moveNumber) {
                    focusedMove.scrollIntoView(false);
                    moves.scrollBy(0, getFontSize(moves));
                } else {
                    focusedMove.scrollIntoView(true);
                    moves.scrollBy(0, -1 * getFontSize(moves));
                }
            }
        },
        onMoveSummarySelect(moveNumber: number): void {
            this.focusAfterMoveNumber(moveNumber);
        },
        preventDefault(event: KeyboardEvent): void {
            event.preventDefault();
        },
        goToPreviousMove(): void {
            if (this.moveNumberFocus !== 0) {
                this.focusAfterMoveNumber(this.moveNumberFocus - 1);
            }
        },
        goToNextMove(): void {
            if (
                this.moveNumberFocus !== this.moveHistory.moveSummaries.length
            ) {
                this.focusAfterMoveNumber(this.moveNumberFocus + 1);
            }
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.move-history {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-light-bg-color;
    @include curved;
    @include primary-dark-border(top);
}
.move-history > :first-child {
    margin-top: 0.5em;
}
.move-history > * {
    margin-bottom: 0.5em;
}
.move-history:focus {
    outline: none;
}
.move-history__title {
    font-size: large;
}
.move-history__moves {
    flex: 2;
    width: 100%;
    padding: 1em;
    margin: 0;
    overflow-y: auto;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    @include primary-dark-border(top);
    @include primary-dark-border(bottom);
}
.move-history__initial {
    @include centered;
    background-color: $light-piece-color;
    color: $dark-piece-color;
    text-align: center;
    white-space: nowrap;
}
.move-history__moves > * {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 0.5em;
    @include curved;
    cursor: pointer;
}
.move-history__moves_focus {
    box-shadow: 0 0 0.5em 0.5em $primary-dark-color;
}
.move-history__nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5em;
}
.move-history__nav > * {
    flex: 1;
}
.move-history__game-status {
    font-size: large;
}
.move-history > * {
    margin-bottom: 0.5em;
}
</style>
