<template>
    <foreignObject :x="x" :y="y" :width="tileSize" :height="tileSize">
        <div
            :style="`font-size: ${tileSize}px`"
            :class="[
                'piece',
                model.isWhite ? 'piece_white' : 'piece_black',
                selected ? 'piece_selected' : 'piece_not-selected'
            ]"
            @mousedown="mouseDown"
            @dragstart="dragStart"
        >
            {{ useLetterIcons ? model.asLetter : model.icon }}
        </div>
    </foreignObject>
</template>

<script lang="ts">
import Vue from 'vue';
import ChessPosition from './model/Position';
import MouseStatus from './MouseStatus';
import Piece from './model/Piece';
export default Vue.extend({
    props: {
        model: Object as () => Piece,
        tileSize: Number,
        svgMouseX: Number,
        svgMouseY: Number,
        mouseStatus: Number,
        board: SVGSVGElement,
        isWhiteSideUser: Boolean,
        useLetterIcons: Boolean
    },
    data() {
        return {
            selected: false
        };
    },
    computed: {
        position(): ChessPosition {
            return this.model.position;
        },
        x(): number {
            return this.selected
                ? this.svgMouseX - this.tileSize / 2
                : (this.position.fileAsInt - 1) * this.tileSize;
        },
        y(): number {
            return this.selected
                ? this.svgMouseY - this.tileSize / 2
                : this.computeY(this.position.rankAsInt) * this.tileSize;
        }
    },
    methods: {
        mouseDown(event: MouseEvent): void {
            this.selected = true;
            this.$emit('select', event);
        },
        dragStart(event: MouseEvent): void {
            event.preventDefault();
        },
        computeY(rankAsInt: number): number {
            return this.isWhiteSideUser ? 8 - rankAsInt : rankAsInt - 1;
        },
        computeRank(y: number): number {
            return this.isWhiteSideUser ? 8 - y : y + 1;
        }
    },
    watch: {
        mouseStatus(update: MouseStatus) {
            if (this.selected) {
                if (update === MouseStatus.Up) {
                    const fileAsInt =
                        Math.floor(this.svgMouseX / this.tileSize) + 1;
                    const rankAsInt = this.computeRank(
                        Math.floor(this.svgMouseY / this.tileSize)
                    );
                    this.$emit(
                        'move-attempt',
                        this.model,
                        fileAsInt,
                        rankAsInt
                    );
                    this.selected = false;
                } else if (update === MouseStatus.Left) {
                    this.selected = false;
                }
            }
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.piece {
    height: 100%;
    width: 100%;
    @include centered;
    cursor: grab;
    user-select: none;
}
.piece_white {
    color: $light-piece-color;
}
.piece_black {
    color: $dark-piece-color;
}
.piece_not-selected {
    cursor: grab;
}
.piece_selected {
    cursor: grabbing;
}
</style>
