<template>
    <div
        :class="[
            'player-detail',
            reverse ? 'player-detail_column-reverse' : ''
        ]"
    >
        <user-link :userId="userId"></user-link>
        <timer :timer="timer" :reverse="reverse"></timer>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import UserLink from '../user/UserLink.vue';
import TimerComponent from './Timer.vue';
import Timer from './model/Timer';
export default Vue.extend({
    components: {
        'user-link': UserLink,
        timer: TimerComponent
    },
    props: {
        userId: Number,
        timer: Object as () => Timer,
        reverse: Boolean
    }
});
</script>
flex-direction: column;
<style scoped>
.player-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.player-detail_column-reverse {
    flex-direction: column-reverse;
}
</style>
