<template>
    <div :class="['timer', reverse ? 'timer_column-reverse' : '']">
        <timer-pie :timer="timer"></timer-pie>
        <div>{{ timer.timerString }}</div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import TimerPie from './TimerPie.vue';
import Timer from './model/Timer';
export default Vue.extend({
    components: {
        'timer-pie': TimerPie
    },
    props: {
        timer: Object as () => Timer,
        reverse: Boolean
    }
});
</script>

<style scoped>
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.timer_column-reverse {
    flex-direction: column-reverse;
}
</style>
