<template>
    <pie
        class="timer-pie"
        :slices="timerSlices"
        fillColor="transparent"
        :showShadow="timer.isRunning"
        :shadowColor="shadowColor"
    ></pie>
</template>

<script lang="ts">
import Vue from 'vue';
import Pie from '../chart/Pie.vue';
import Slice from '../chart/Slice';
import Timer from './model/Timer';
import styleVariables from '../common.scss';
const totalCount = 360;
export default Vue.extend({
    props: {
        timer: Object as () => Timer
    },
    components: {
        pie: Pie
    },
    data() {
        return {
            shadowColor: styleVariables.primaryDarkColor,
            fillColor: styleVariables.primaryLightColor
        };
    },
    computed: {
        expiredTimeSlice(): Slice {
            return {
                key: 'expired',
                color: styleVariables.primaryDarkColor,
                count: (1 - this.timer.timeRemainingRatio) * totalCount
            };
        },
        remainingTimeSlice(): Slice {
            return {
                key: 'remaining',
                color: styleVariables.primaryLightColor,
                count: this.timer.timeRemainingRatio * totalCount
            };
        },
        timerSlices(): Slice[] {
            return [this.expiredTimeSlice, this.remainingTimeSlice];
        },
        isRunning(): boolean {
            return this.timer.isRunning;
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.timer-pie {
    width: 8em;
    height: 8em;
    margin: 0.5em 0;
}
.timer-pie_running {
    box-shadow: 0 0 0.5em 0.5em $primary-dark-color;
}
</style>
