<template>
    <svg :viewBox="viewBox" overflow="visible">
        <defs>
            <radialGradient id="shadow-gradient">
                <stop offset="84%" stop-color="transparent" />
                <stop offset="84%" :stop-color="shadowColor" />
                <stop
                    offset="100%"
                    :stop-color="shadowColor"
                    stop-opacity="0"
                />
            </radialGradient>
        </defs>
        <circle
            v-if="showShadow"
            :r="(radius * 100) / 85"
            :cx="centerX"
            :cy="centerY"
            fill="url('#shadow-gradient')"
        />
        <circle :r="radius" :cx="centerX" :cy="centerY" :fill="fillColor" />
        <circle
            v-for="(slice, index) in slices"
            :key="slice.label"
            :r="strokeRadius"
            :cx="centerX"
            :cy="centerY"
            fill="transparent"
            :transform="
                `rotate(${computeRotation(index)}, ${centerX}, ${centerY})`
            "
            :stroke="slice.color"
            :stroke-width="radius"
            :stroke-dasharray="computeStrokeDasharray(slice)"
        />
    </svg>
</template>

<script lang="ts">
import Vue from 'vue';
import Slice from './Slice';
export default Vue.extend({
    props: {
        slices: Array as () => Slice[],
        fillColor: String,
        showShadow: Boolean,
        shadowColor: String
    },
    data() {
        const halfViewBoxDimension = 360;
        return {
            radius: halfViewBoxDimension,
            centerX: halfViewBoxDimension,
            centerY: halfViewBoxDimension
        };
    },
    computed: {
        viewBox(): string {
            return `0 0 ${2 * this.radius} ${2 * this.radius}`;
        },
        count(): number {
            return this.slices
                .map(slice => slice.count)
                .reduce((sum, count) => sum + count, 0);
        },
        strokeRadius(): number {
            return this.radius / 2;
        },
        strokeCircumference(): number {
            return 2 * 3.1415 * this.strokeRadius;
        }
    },
    methods: {
        countBelow(sliceIndex: number): number {
            return this.slices
                .slice(0, sliceIndex)
                .map(slice => slice.count)
                .reduce((sum, count) => sum + count, 0);
        },
        computeRotation(sliceIndex: number): number {
            if (this.count === 0) {
                return -90;
            } else {
                return -90 + (360 * this.countBelow(sliceIndex)) / this.count;
            }
        },
        computeStrokeDasharray(slice: Slice) {
            if (this.count === 0) {
                return `0 ${this.strokeCircumference}`;
            } else {
                const sliceArcLength =
                    (this.strokeCircumference * slice.count) / this.count;
                return `${sliceArcLength} ${this.strokeCircumference}`;
            }
        }
    }
});
</script>
