<template>
    <pie :slices="slices" :fillColor="emptyPieColor"></pie>
</template>

<script lang="ts">
import Vue from 'vue';
import Pie from './Pie.vue';
import Slice from './Slice';
import styleVariables from '../common.scss';
export default Vue.extend({
    components: {
        pie: Pie
    },
    props: {
        winCount: Number,
        lossCount: Number,
        drawCount: Number
    },
    computed: {
        slices(): Slice[] {
            return [
                {
                    key: 'draw',
                    color: styleVariables.drawSliceColor,
                    count: this.drawCount
                },
                {
                    key: 'loss',
                    color: styleVariables.lossSliceColor,
                    count: this.lossCount
                },
                {
                    key: 'win',
                    color: styleVariables.winSliceColor,
                    count: this.winCount
                }
            ];
        },
        emptyPieColor(): string {
            return styleVariables.emptyPieColor;
        }
    }
});
</script>
