<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="app"></div>
    <script src="/<%= deploymentName %>/<%= bundleName %>"></script>
</body>

</html>