<template>
    <div id="docs"></div>
</template>

<script lang="ts">
import Vue from 'vue';
import SwaggerUI from 'swagger-ui';
import 'swagger-ui/dist/swagger-ui.css';
import { serviceNameToUri } from '../../env-config';
export default Vue.extend({
    props: {
        serviceName: String
    },
    mounted() {
        SwaggerUI({
            dom_id: '#docs',
            url: `${serviceNameToUri(this.serviceName)}/openapi.yaml`
        });
    },
    watch: {
        serviceName() {
            SwaggerUI({
                dom_id: '#docs',
                url: `${serviceNameToUri(this.serviceName)}/openapi.yaml`
            });
        }
    }
});
</script>
