<template>
    <div class="docs">
        <div class="docs__title">Service Documentation</div>
        <div class="docs__navigator">
            <router-link to="/docs/user">user</router-link>
            <router-link to="/docs/messaging">messaging</router-link>
            <router-link to="/docs/gamehistory">gamehistory</router-link>
            <router-link to="/docs/gamestate">gamestate</router-link>
        </div>
        <router-view class="docs__view"></router-view>
    </div>
</template>

<style scoped lang="scss">
@import '../common.scss';
.docs {
    height: 100%;
    min-width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: hidden;
}
.docs__title {
    width: 98%;
    width: calc(100% - 2em);
    margin: 1em;
    @include centered;
    font-size: x-large;
}
.docs__navigator {
    min-height: 6em;
    width: auto;
    min-width: 98%;
    min-width: calc(100% - 2em);
    margin-top: 0em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @include primary-dark-border;
    background-color: $primary-light-bg-color;
}
.docs__navigator > :first-child {
    margin-left: 1em;
}
.docs__navigator > * {
    font-size: x-large;
    padding: 0.5em;
    margin-right: 1em;
    text-decoration: none;
    @include curved;
    @include primary-dark-border(bottom);
    @include primary-dark-border(right);
    color: $primary-dark-color;
    background-color: $primary-light-color;
}
.docs__navigator > *:hover,
.router-link-active {
    text-decoration: underline;
    color: $primary-light-color;
    background-color: $primary-dark-color;
}
.docs__view {
    width: 100%;
    margin: 0;
    padding: 0 1em;
    overflow-y: auto;
}
</style>
