<template>
    <div class="board-link__container">
        <router-link class="board-link" :to="gamePath">
            <board
                class="board-link__icon"
                :boardModelInit="moveHistory.lastBoard"
                :isWhiteSideUser="isWhiteSideUser"
                :useLetterIcons="false"
                :showCoordinates="false"
                :useMinimumDimension="false"
            ></board>
        </router-link>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import Board from '../game/Board.vue';
import MoveHistory from '../game/model/MoveHistory';
import { GameStateDto } from '../../types/game-state-types';
import { GameHistoryDto } from '../../types/game-history-types';
export default Vue.extend({
    components: {
        board: Board
    },
    props: {
        game: Object as () => GameHistoryDto | GameStateDto,
        isWhiteSideUser: Boolean
    },
    data() {
        const moveHistory = new MoveHistory();
        this.game.moveSummaries.forEach(
            moveHistory.addFromMoveSummaryDto.bind(moveHistory)
        );
        return {
            moveHistory
        };
    },
    computed: {
        gamePath(): string {
            let gameHistoryId: number;
            if ('gameHistoryId' in this.game) {
                gameHistoryId = this.game.gameHistoryId;
            } else if ('id' in this.game) {
                gameHistoryId = this.game.id;
            } else {
                return '';
            }
            return `/home/game/${gameHistoryId}`;
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.board-link__container {
    height: 100%;
    min-width: 6em;
    @include centered;
}
.board-link {
    height: 100%;
    width: 100%;
}
.board-link__icon {
    height: 100%;
    width: 100%;
}
/deep/ .board-link__icon * {
    pointer-events: none;
}
</style>
