<template>
    <li class="game-summary">
        <board-link
            :game="completedGame"
            :isWhiteSideUser="isWhiteSideUser"
        ></board-link>
        <div class="game-summary__player-detail">
            <user-link :userId="currentUser.id"></user-link>
            <white-king v-if="isWhiteSideUser"></white-king>
            <black-king v-else></black-king>
        </div>
        <div class="game-summary__player-detail">
            <user-link :userId="opponentId"></user-link>
            <black-king v-if="isWhiteSideUser"></black-king>
            <white-king v-else></white-king>
        </div>
        <div class="game-summary__outcome">
            <div>{{ outcome }}</div>
            <div>in</div>
            <div>{{ moveCountRepr }}</div>
        </div>
        <div class="game-summary__dates">
            <div>{{ startDateTime }}</div>
            <div>to</div>
            <div>{{ endDateTime }}</div>
        </div>
    </li>
</template>

<script lang="ts">
import Vue from 'vue';
import BoardLink from './BoardLink.vue';
import UserLink from '../user/UserLink.vue';
import WhiteKing from '../icon/WhiteKing.vue';
import BlackKing from '../icon/BlackKing.vue';
import { GameHistoryDto, ResultTag } from '../../types/game-history-types';
import { getUserById } from '../../data/user';
import { UserDto } from '../../types/user-types';
import { prettifyRatingAdjustment, dateTimeString } from '../../utils';
import Game from '../game/model/Game';
import MoveHistory from '../game/model/MoveHistory';
import { createBoardPlaceholder } from '../game/model/Board';
export default Vue.extend({
    components: {
        'board-link': BoardLink,
        'user-link': UserLink,
        'white-king': WhiteKing,
        'black-king': BlackKing
    },
    props: {
        completedGame: Object as () => GameHistoryDto
    },
    computed: {
        currentUser(): UserDto | undefined {
            return this.$store.state.currentUser;
        },
        isWhiteSideUser(): boolean {
            return (
                this.$store.getters.currentUserId ===
                this.completedGame.whiteSideUserId
            );
        },
        opponentId(): number {
            return this.isWhiteSideUser
                ? this.completedGame.blackSideUserId
                : this.completedGame.whiteSideUserId;
        },
        whiteWinsRatingAdjustment(): string {
            return prettifyRatingAdjustment(
                this.completedGame.whiteWinsRatingAdjustment
            );
        },
        whiteLosesRatingAdjustment(): string {
            return prettifyRatingAdjustment(
                this.completedGame.whiteLosesRatingAdjustment
            );
        },
        whiteDrawsRatingAdjustment(): string {
            return prettifyRatingAdjustment(
                this.completedGame.whiteDrawsRatingAdjustment
            );
        },
        blackLosesRatingAdjustment(): string {
            return prettifyRatingAdjustment(
                -1 * this.completedGame.whiteWinsRatingAdjustment
            );
        },
        blackWinsRatingAdjustment(): string {
            return prettifyRatingAdjustment(
                -1 * this.completedGame.whiteLosesRatingAdjustment
            );
        },
        blackDrawsRatingAdjustment(): string {
            return prettifyRatingAdjustment(
                -1 * this.completedGame.whiteDrawsRatingAdjustment
            );
        },
        outcome(): string {
            switch (this.completedGame.resultTag) {
                case ResultTag.WHITE_WINS:
                    return this.isWhiteSideUser
                        ? `Win (${this.whiteWinsRatingAdjustment})`
                        : `Loss (${this.blackLosesRatingAdjustment})`;
                case ResultTag.BLACK_WINS:
                    return this.isWhiteSideUser
                        ? `Loss (${this.whiteLosesRatingAdjustment})`
                        : `Win (${this.blackWinsRatingAdjustment})`;
                case ResultTag.DRAW:
                    return this.isWhiteSideUser
                        ? `Draw (${this.whiteDrawsRatingAdjustment})`
                        : `Draw (${this.blackDrawsRatingAdjustment})`;
                default:
                    return '';
            }
        },
        myPieceClass(): string {
            return this.isWhiteSideUser ? 'white-text' : 'black-text';
        },
        opponentPieceClass(): string {
            return this.isWhiteSideUser ? 'black-text' : 'white-text';
        },
        startDateTime(): string {
            return dateTimeString(this.completedGame.startEpochSeconds);
        },
        endDateTime(): string {
            return dateTimeString(this.completedGame.endEpochSeconds);
        },
        moveCountRepr(): string {
            return this.completedGame.moveCount === 1
                ? `${this.completedGame.moveCount} move`
                : `${this.completedGame.moveCount} moves`;
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.game-summary {
    @include row;
}
.game-summary__player-detail,
.game-summary__outcome,
.game-summary__dates {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.game-summary__outcome > * {
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}
</style>
