<template>
    <div class="completed-games">
        <ol class="completed-games__list">
            <completed-game
                v-for="completedGame in completedGames"
                :key="completedGame.id"
                :completedGame="completedGame"
            ></completed-game>
        </ol>
        <div class="completed-games__end">{{ noMoreMessage }}</div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import CompletedGameComponent from './CompletedGame.vue';
import { getCompletedGames } from '../../data/game-history';
import { GameHistoryDto } from '../../types/game-history-types';
export default Vue.extend({
    components: {
        'completed-game': CompletedGameComponent
    },
    props: {
        userId: Number
    },
    data() {
        return {
            completedGames: [] as GameHistoryDto[]
        };
    },
    mounted() {
        getCompletedGames(this.userId)
            .then(completedGames => {
                this.completedGames = completedGames;
            })
            .catch(console.error);
    },
    computed: {
        noMoreMessage(): string {
            return this.completedGames.length > 0
                ? 'No more games to show'
                : 'No games to show';
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.completed-games__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.completed-games__end {
    width: 100%;
    margin-bottom: 1em;
    @include centered;
}
</style>
