<template>
    <div class="games-explorer">
        <div class="games-explorer__navigator">
            <router-link ref="myMoveLink" to="mymove">My Move</router-link>
            <router-link ref="currentLink" to="inprogress"
                >In Progress</router-link
            >
            <router-link ref="completedLink" to="completed"
                >Completed</router-link
            >
            <router-link ref="requestsLink" to="requests">Requests</router-link>
        </div>
        <router-view class="games-explorer__displayer"></router-view>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({});
</script>

<style scoped lang="scss">
@import '../common.scss';
.games-explorer {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.games-explorer__navigator {
    min-height: 6em;
    margin: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    @include primary-dark-border;
    background-color: $primary-light-bg-color;
    overflow-y: hidden;
}
.games-explorer__navigator > :first-child {
    margin-left: 1em;
}
.games-explorer__navigator > * {
    padding: 0.5em;
    margin-right: 1em;
    @include curved;
    @include primary-dark-border(bottom);
    @include primary-dark-border(right);
    color: $primary-dark-color;
    background-color: $primary-light-color;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}
.games-explorer__navigator > *:hover,
.router-link-active {
    text-decoration: underline;
    color: $primary-light-color;
    background-color: $primary-dark-color;
}
.games-explorer__displayer {
    padding: 0 1em;
    overflow-y: auto;
}
</style>
