<template>
    <li class="incoming-request">
        <user-link :userId="incomingRequest.requesterId"></user-link>
        <div>{{ dateTime }}</div>
        <custom-button class="incoming-request__accept" @click="accept">{{
            `Accept ${CHECK_MARK}`
        }}</custom-button>
        <custom-button class="incoming-request__decline" @click="decline">{{
            `Decline ${CROSS_MARK}`
        }}</custom-button>
    </li>
</template>

<script lang="ts">
import Vue from 'vue';
import UserLink from '../user/UserLink.vue';
import CustomButton from '../CustomButton.vue';
import { acceptRequest, declineRequest } from '../../data/game-history';
import { getUserById } from '../../data/user';
import { DirectGameRequestDto } from '../../types/game-history-types';
import { dateTimeString } from '../../utils';
import { CHECK_MARK, CROSS_MARK } from '../../symbols';
export default Vue.extend({
    components: {
        'user-link': UserLink,
        'custom-button': CustomButton
    },
    props: {
        incomingRequest: Object as () => DirectGameRequestDto
    },
    data() {
        return {
            CHECK_MARK,
            CROSS_MARK
        };
    },
    computed: {
        dateTime(): string {
            return dateTimeString(this.incomingRequest.epochSeconds);
        }
    },
    methods: {
        accept() {
            acceptRequest(this.incomingRequest.id)
                .then(gameHistory => {
                    this.$router.push(`/home/game/${gameHistory.id}`);
                })
                .catch(console.error);
        },
        decline() {
            declineRequest(this.incomingRequest.id)
                .then(() => {
                    this.$emit('request-declined', this.incomingRequest);
                })
                .catch(console.error);
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.incoming-request {
    @include row;
}
.incoming-request__accept,
.incoming-request__decline {
    white-space: nowrap;
}
</style>
