<template>
    <li class="game-summary">
        <board-link
            :game="game"
            :isWhiteSideUser="isWhiteSideUser"
        ></board-link>
        <div class="game-summary__player-detail">
            <user-link
                :class="{
                    'game-summary__player-detail_is-turn': isCurrentUserTurn
                }"
                :userId="currentUser.id"
            ></user-link>
            <white-king v-if="isWhiteSideUser"></white-king>
            <black-king v-else></black-king>
            <div>{{ currentUserTimer }}</div>
        </div>
        <div class="game-summary__player-detail">
            <user-link
                :class="{
                    'game-summary__player-detail_is-turn': !isCurrentUserTurn
                }"
                :userId="opponentId"
            ></user-link>
            <black-king v-if="isWhiteSideUser"></black-king>
            <white-king v-else></white-king>
            <div>{{ opponentTimer }}</div>
        </div>
        <div class="game-summary__move-count">{{ moveCountRepr }}</div>
    </li>
</template>

<script lang="ts">
import Vue from 'vue';
import BoardLink from './BoardLink.vue';
import UserLink from '../user/UserLink.vue';
import WhiteKing from '../icon/WhiteKing.vue';
import BlackKing from '../icon/BlackKing.vue';
import { UserDto } from '../../types/user-types';
import { getUserById } from '../../data/user';
import { toTimerString, isEven } from '../../utils';
import MoveHistory from '../game/model/MoveHistory';
import Timer from '../game/model/Timer';
import { GameStateDto } from '../../types/game-state-types';
export default Vue.extend({
    components: {
        'board-link': BoardLink,
        'user-link': UserLink,
        'white-king': WhiteKing,
        'black-king': BlackKing
    },
    props: {
        game: Object as () => GameStateDto
    },
    computed: {
        currentUser(): UserDto | undefined {
            return this.$store.state.currentUser;
        },
        isWhiteSideUser(): boolean {
            return (
                this.$store.getters.currentUserId === this.game.whiteSideUserId
            );
        },
        isCurrentUserTurn(): boolean {
            return isEven(this.moveCount) === this.isWhiteSideUser;
        },
        opponentId(): number {
            return this.isWhiteSideUser
                ? this.game.blackSideUserId
                : this.game.whiteSideUserId;
        },
        currentUserTimer(): string {
            return this.isWhiteSideUser
                ? toTimerString(this.game.whiteSideMillisRemaining)
                : toTimerString(this.game.blackSideMillisRemaining);
        },
        opponentTimer(): string {
            return this.isWhiteSideUser
                ? toTimerString(this.game.blackSideMillisRemaining)
                : toTimerString(this.game.whiteSideMillisRemaining);
        },
        moveCount(): number {
            return this.game.moveSummaries.length;
        },
        moveCountRepr(): string {
            return this.moveCount === 1
                ? `${this.moveCount} move`
                : `${this.moveCount} moves`;
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.game-summary {
    @include row;
}
.game-summary__player-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.game-summary__player-detail_is-turn {
    font-weight: bold;
}
.game-summary__move-count {
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}
</style>
