<template>
    <div>
        <ol class="in-progress-games__list">
            <in-progress-game
                v-for="inProgressGame in inProgressGames"
                :key="inProgressGame.gameHistoryId"
                :game="inProgressGame"
            ></in-progress-game>
        </ol>
        <div class="in-progress-games__end">{{ noMoreMessage }}</div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import InProgressGame from './InProgressGame.vue';
import { getInProgressGames } from '../../data/game-state';
import { GameStateDto } from '../../types/game-state-types';
export default Vue.extend({
    components: {
        'in-progress-game': InProgressGame
    },
    props: {
        userId: Number
    },
    data() {
        return {
            inProgressGames: [] as GameStateDto[]
        };
    },
    mounted() {
        getInProgressGames(this.userId)
            .then(inProgressGames => {
                this.inProgressGames = inProgressGames;
            })
            .catch(console.error);
    },
    computed: {
        noMoreMessage(): string {
            return this.inProgressGames.length > 0
                ? 'No more games to show'
                : 'No games to show';
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.in-progress-games__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.in-progress-games__end {
    width: 100%;
    margin-bottom: 1em;
    @include centered;
}
</style>
