<template>
    <div>
        <ol class="my-move-games__list">
            <in-progress-game
                v-for="myMoveGame in myMoveGames"
                :key="myMoveGame.gameHistoryId"
                :game="myMoveGame"
            ></in-progress-game>
        </ol>
        <div class="my-move-games__end">{{ noMoreMessage }}</div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import InProgressGame from './InProgressGame.vue';
import { getMyMoveGames } from '../../data/game-state';
import { GameStateDto } from '../../types/game-state-types';
export default Vue.extend({
    components: {
        'in-progress-game': InProgressGame
    },
    data() {
        return {
            myMoveGames: [] as GameStateDto[]
        };
    },
    mounted() {
        getMyMoveGames()
            .then(myMoveGames => {
                this.myMoveGames = myMoveGames;
            })
            .catch(console.error);
    },
    computed: {
        noMoreMessage(): string {
            return this.myMoveGames.length > 0
                ? 'No more games to show'
                : 'No games to show';
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.my-move-games__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.my-move-games__end {
    width: 100%;
    margin-bottom: 1em;
    @include centered;
}
</style>
