<template>
    <li class="outgoing-request">
        <user-link :userId="outgoingRequest.requesteeId"></user-link>
        <div>{{ dateTime }}</div>
        <custom-button class="outgoing-request__cancel" @click="cancel">{{
            `Cancel ${SLASH_THRU_CIRCLE}`
        }}</custom-button>
    </li>
</template>

<script lang="ts">
import Vue from 'vue';
import UserLink from '../user/UserLink.vue';
import CustomButton from '../CustomButton.vue';
import { getUserById } from '../../data/user';
import { cancelDirectRequest } from '../../data/game-history';
import { DirectGameRequestDto } from '../../types/game-history-types';
import { dateTimeString } from '../../utils';
import { SLASH_THRU_CIRCLE } from '../../symbols';
export default Vue.extend({
    components: {
        'user-link': UserLink,
        'custom-button': CustomButton
    },
    props: {
        outgoingRequest: Object as () => DirectGameRequestDto
    },
    data() {
        return {
            SLASH_THRU_CIRCLE
        };
    },
    computed: {
        dateTime(): string {
            return dateTimeString(this.outgoingRequest.epochSeconds);
        }
    },
    methods: {
        cancel() {
            cancelDirectRequest(this.outgoingRequest.id)
                .then(() => {
                    this.$emit('request-cancelled', this.outgoingRequest);
                })
                .catch(console.error);
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.outgoing-request {
    @include row;
}
.outgoing-request__cancel {
    white-space: nowrap;
}
</style>
