<template>
    <div class="requests-container">
        <user-search
            class="user-search"
            searchPrompt="Find user to request game"
        ></user-search>
        <div class="requests">
            <div class="outgoing-requests__title">Outgoing</div>
            <div class="outgoing-requests">
                <ol class="outgoing-requests__list">
                    <outgoing-direct-request
                        v-for="outgoingRequest in outgoingRequests"
                        :key="outgoingRequest.id"
                        :outgoingRequest="outgoingRequest"
                        @request-cancelled="onRequestCancelled"
                    ></outgoing-direct-request>
                </ol>
                <div class="outgoing-requests__end">
                    {{ outgoingNoMoreMessage }}
                </div>
            </div>
            <div class="incoming-requests__title">Incoming</div>
            <div class="incoming-requests">
                <ol class="incoming-requests__list">
                    <incoming-direct-request
                        v-for="incomingRequest in incomingRequests"
                        :key="incomingRequest.id"
                        :incomingRequest="incomingRequest"
                        @request-declined="onRequestDeclined"
                    ></incoming-direct-request>
                </ol>
                <div class="incoming-requests__end">
                    {{ incomingNoMoreMessage }}
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
import UserSearch from '../users/UserSearch.vue';
import OutgoingDirectRequest from './OutgoingDirectRequest.vue';
import IncomingDirectRequest from './IncomingDirectRequest.vue';
import {
    getOutgoingDirectRequests,
    getIncomingDirectRequests
} from '../../data/game-history';
import { DirectGameRequestDto } from '../../types/game-history-types';
export default Vue.extend({
    components: {
        'user-search': UserSearch,
        'outgoing-direct-request': OutgoingDirectRequest,
        'incoming-direct-request': IncomingDirectRequest
    },
    data() {
        return {
            outgoingRequests: [] as DirectGameRequestDto[],
            incomingRequests: [] as DirectGameRequestDto[]
        };
    },
    mounted() {
        getOutgoingDirectRequests()
            .then(outgoingRequests => {
                this.outgoingRequests = outgoingRequests;
            })
            .catch(console.error);
        getIncomingDirectRequests()
            .then(incomingRequests => {
                this.incomingRequests = incomingRequests;
            })
            .catch(console.error);
    },
    methods: {
        onRequestCancelled(cancelledRequest: DirectGameRequestDto) {
            const cancelledIndex = this.outgoingRequests.findIndex(
                requestFrom => {
                    return requestFrom.id === cancelledRequest.id;
                }
            );
            if (cancelledIndex !== -1) {
                this.outgoingRequests.splice(cancelledIndex, 1);
            }
        },
        onRequestDeclined(declinedRequest: DirectGameRequestDto) {
            const declinedIndex = this.incomingRequests.findIndex(requestTo => {
                return requestTo.id === declinedRequest.id;
            });
            if (declinedIndex !== -1) {
                this.incomingRequests.splice(declinedIndex, 1);
            }
        }
    },
    computed: {
        outgoingNoMoreMessage(): string {
            return this.outgoingRequests.length > 0
                ? 'No more requests to show'
                : 'No requests to show';
        },
        incomingNoMoreMessage(): string {
            return this.incomingRequests.length > 0
                ? 'No more requests to show'
                : 'No requests to show';
        }
    }
});
</script>

<style scoped lang="scss">
@import '../common.scss';
.requests-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.user-search {
    padding-bottom: 1em;
}
.requests {
    width: 100%;
    width: calc(100% + 2em);
    padding: 0 1em;
    overflow-x: visible;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    overflow-y: auto;
}
.requests > * {
    margin-right: 1em;
}
.requests > *:last-child {
    margin-right: 0;
}
.outgoing-requests__title,
.incoming-requests__title {
    flex: 1;
    padding: 0.5em;
    font-size: x-large;
    color: $primary-dark-color;
    @include curved;
    @include primary-dark-border(top);
    @include primary-dark-border(left);
    @include centered;
}
.outgoing-requests,
.incoming-requests {
    flex: 8;
}
.outgoing-requests__list,
.incoming-requests__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.outgoing-requests__end,
.incoming-requests__end {
    width: 100%;
    margin-bottom: 1em;
    @include centered;
}
</style>
